<nav class="main-navigation js-main-navigation">
  <h2 class="sr-only">Main navigation</h2>
  <ul class="flush">
    {% for item in menu.primary.get_items %}<li class="menu-item js-main-navigation-item{% if 'current-page-ancestor' in item.classes or 'current-menu-item' in item.classes or 'current_page_parent' in item.classes %} active{% endif %}">
      <a href="{{item.link}}">{{item.title}}</a>
      {% include 'partials/navigation-children.twig' with {item: item} %}
    </li>
    {% endfor %}
  </ul>
</nav>
<button class="main-navigation__toggle js-nav-toogle">
  <span class="main-navigation__bar"></span>
  <span class="main-navigation__bar"></span>
  <span class="main-navigation__bar"></span>
</button>
