{% extends "layouts/base.twig" %}
{% block header %}{% include 'partials/header.twig' %}{% endblock %}
{% block content %}
  {% if is_kili or is_custom_post_type %}
    {% do action('page_blocks') %} 
  {% else %}
    <div class="main-container">
      <section>
        <div class="container">
          <h1>{{post.title}} </h1>
          <div class="push--bottom">
            {{post.content}}
          </div>
        </div>
        <div class="container">
          {% if post.comment_count > 0 %} {% include 'partials/comments.twig' with {post:post} %} {% endif %}
          {% if post.comment_status == 'closed' %} {{__('Comments are closed','ksource')}} {% else %}{% include 'partials/comment-form.twig' %} {% endif %}
        </div>
      </section>
    </div>
  {% endif %}
{% endblock %}
{% block footer %}{% include 'partials/footer.twig' %}{% endblock %}