{% extends "layouts/base.twig" %}
{% block header %}{% include 'partials/header.twig' %}{% endblock %}
{% block content %}
  <div class="main-container">
    <div class="container">
      {% include 'partials/password-form.twig' %}
    </div>
  </div>
{% endblock %}
{% block footer %}{% include 'partials/footer.twig' %}{% endblock %}
