{% extends "layouts/base.twig" %}
{% block header %}{% include 'partials/blog-hero.twig' with {banner_title: 'Blog'}%}{% endblock %}
{% block content %}
  <div class="main-container">
    <div class="container">
      <div class="grid">
        <div class="grid__item medium--two-thirds">
          <img src="{{theme.link}}/dist/images/404-logo.png" alt="404 Image" class="push--bottom">
          <div class="beta">{{theme_mods.ksource_404_title}}</div>
          <div class="push--bottom">{{theme_mods.ksource_404_subtitle}}</div>
          <div class="soft--ends">
            <a href="/" class="button button--outlined">Back to homepage</a>
          </div>
        </div><!-- 
         --><div class="grid__item medium--one-third">
          <aside class="aside-nav">
            {% include "partials/sidebar.twig" %}
          </aside>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block footer %}{% include 'partials/footer.twig' %}{% endblock %}